.box1{
    width: 100%;
    position: relative;
}
.laptop-box{
    width: 58%;
    position: relative;
}

.slider{
    position: absolute;
    top: 5%;
    right: 11%;
    left: 12%;
}
.slider2 {
    position: absolute;
    top: 3.8%;
    right: 11% !important;
    left: 12%;
}
.carousel-control-next-icon {
    position: absolute !important;
    width: 65% !important;
    height: 15% !important;
}
.carousel-control-next{
    right: -10%;
    opacity: 1 !important;
}
.carousel-control-prev-icon {
    position: absolute !important;
    width: 65% !important;
    height: 15% !important;
}
.carousel-control-prev{
    left: -10%;
    opacity: 1 !important;
}
.carousel-control-prev-icon {
    background-image: url("../images/laptop-carousel/play-button2.png");
}

.carousel-control-next-icon {
    background-image: url("../images/laptop-carousel/play-button.png");
}
